In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Real news dataset

In [2]:
articles_set1  = pd.read_csv("/Users/peachlocket/Desktop/FND/Dataset/all-the-news/articles1.csv")
articles_set2  = pd.read_csv("/Users/peachlocket/Desktop/FND/Dataset/all-the-news/articles2.csv")
articles_set3  = pd.read_csv("/Users/peachlocket/Desktop/FND/Dataset/all-the-news/articles3.csv")

In [3]:
articles_set1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
Unnamed: 0     50000 non-null int64
id             50000 non-null int64
title          50000 non-null object
publication    50000 non-null object
author         43694 non-null object
date           50000 non-null object
year           50000 non-null float64
month          50000 non-null float64
url            0 non-null float64
content        50000 non-null object
dtypes: float64(3), int64(2), object(5)
memory usage: 3.8+ MB

In [4]:
articles_set1.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [5]:
print("Earliest Date: ", articles_set1.date.min()) 
print("Latest   Date: ", articles_set1.date.max())

Earliest Date:  2011-11-22
Latest   Date:  2017-06-21

In [6]:
articles_set2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 10 columns):
Unnamed: 0     49999 non-null int64
id             49999 non-null int64
title          49998 non-null object
publication    49999 non-null object
author         41401 non-null object
date           47373 non-null object
year           47373 non-null float64
month          47373 non-null float64
url            42988 non-null object
content        49999 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 3.8+ MB

In [7]:
articles_set2.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,53293,73471,Patriots Day Is Best When It Digs Past the Her...,Atlantic,David Sims,2017-01-11,2017.0,1.0,NaN,"Patriots Day, Peter Berg’s new thriller that r..."
1,53294,73472,A Break in the Search for the Origin of Comple...,Atlantic,Ed Yong,2017-01-11,2017.0,1.0,NaN,"In Norse mythology, humans and our world were ..."
2,53295,73474,Obama’s Ingenious Mention of Atticus Finch,Atlantic,Spencer Kornhaber,2017-01-11,2017.0,1.0,NaN,“If our democracy is to work in this increasin...
3,53296,73475,"Donald Trump Meets, and Assails, the Press",Atlantic,David A. Graham,2017-01-11,2017.0,1.0,NaN,Updated on January 11 at 5:05 p. m. In his fir...
4,53297,73476,Trump: ’I Think’ Hacking Was Russian,Atlantic,Kaveh Waddell,2017-01-11,2017.0,1.0,NaN,Updated at 12:25 p. m. After months of equivoc...

In [8]:
articles_set3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42571 entries, 0 to 42570
Data columns (total 10 columns):
Unnamed: 0     42571 non-null int64
id             42571 non-null int64
title          42570 non-null object
publication    42571 non-null object
author         41599 non-null object
date           42556 non-null object
year           42556 non-null float64
month          42556 non-null float64
url            42571 non-null object
content        42571 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 3.2+ MB

In [9]:
articles_set3.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,103459,151908,Alton Sterling’s son: ’Everyone needs to prote...,Guardian,Jessica Glenza,2016-07-13,2016.0,7.0,https://www.theguardian.com/us-news/2016/jul/1...,The son of a Louisiana man whose father was sh...
1,103460,151909,Shakespeare’s first four folios sell at auctio...,Guardian,NaN,2016-05-25,2016.0,5.0,https://www.theguardian.com/culture/2016/may/2...,Copies of William Shakespeare’s first four boo...
2,103461,151910,My grandmother’s death saved me from a life of...,Guardian,Robert Pendry,2016-10-31,2016.0,10.0,https://www.theguardian.com/commentisfree/2016...,"Debt: $20, 000, Source: College, credit cards,..."
3,103462,151911,I feared my life lacked meaning. Cancer pushed...,Guardian,Bradford Frost,2016-11-26,2016.0,11.0,https://www.theguardian.com/commentisfree/2016...,"It was late. I was drunk, nearing my 35th birt..."
4,103463,151912,Texas man serving life sentence innocent of do...,Guardian,NaN,2016-08-20,2016.0,8.0,https://www.theguardian.com/us-news/2016/aug/2...,A central Texas man serving a life sentence fo...

In [10]:
articles_set1['fakeness'] = 0
articles_set2['fakeness'] = 0
articles_set3['fakeness'] = 0

In [11]:
articles_set1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
Unnamed: 0     50000 non-null int64
id             50000 non-null int64
title          50000 non-null object
publication    50000 non-null object
author         43694 non-null object
date           50000 non-null object
year           50000 non-null float64
month          50000 non-null float64
url            0 non-null float64
content        50000 non-null object
fakeness       50000 non-null int64
dtypes: float64(3), int64(3), object(5)
memory usage: 4.2+ MB

In [12]:
articles_set2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 11 columns):
Unnamed: 0     49999 non-null int64
id             49999 non-null int64
title          49998 non-null object
publication    49999 non-null object
author         41401 non-null object
date           47373 non-null object
year           47373 non-null float64
month          47373 non-null float64
url            42988 non-null object
content        49999 non-null object
fakeness       49999 non-null int64
dtypes: float64(2), int64(3), object(6)
memory usage: 4.2+ MB

In [13]:
articles_set3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42571 entries, 0 to 42570
Data columns (total 11 columns):
Unnamed: 0     42571 non-null int64
id             42571 non-null int64
title          42570 non-null object
publication    42571 non-null object
author         41599 non-null object
date           42556 non-null object
year           42556 non-null float64
month          42556 non-null float64
url            42571 non-null object
content        42571 non-null object
fakeness       42571 non-null int64
dtypes: float64(2), int64(3), object(6)
memory usage: 3.6+ MB

In [14]:
articles_set1 = articles_set1.drop(['Unnamed: 0'],axis=1)
articles_set2 = articles_set2.drop(['Unnamed: 0'],axis=1)
articles_set3 = articles_set3.drop(['Unnamed: 0'],axis=1)

#### Save clean dataset

In [15]:
articles_set1.to_csv("/Users/peachlocket/Desktop/FND/Dataset/clean/real/articles1.csv", index=False)
articles_set2.to_csv("/Users/peachlocket/Desktop/FND/Dataset/clean/real/articles2.csv", index=False)
articles_set3.to_csv("/Users/peachlocket/Desktop/FND/Dataset/clean/real/articles3.csv", index=False)

In [16]:
clean1  = pd.read_csv("/Users/peachlocket/Desktop/FND/Dataset/clean/real/articles1.csv")
clean2  = pd.read_csv("/Users/peachlocket/Desktop/FND/Dataset/clean/real/articles2.csv")
clean3  = pd.read_csv("/Users/peachlocket/Desktop/FND/Dataset/clean/real/articles3.csv")

In [17]:
clean1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
id             50000 non-null int64
title          50000 non-null object
publication    50000 non-null object
author         43694 non-null object
date           50000 non-null object
year           50000 non-null float64
month          50000 non-null float64
url            0 non-null float64
content        50000 non-null object
fakeness       50000 non-null int64
dtypes: float64(3), int64(2), object(5)
memory usage: 3.8+ MB

In [18]:
clean1.head()

,id,title,publication,author,date,year,month,url,content,fakeness
0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...,0
1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood...",0
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri...",0
3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t...",0
4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ...",0

In [19]:
clean2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 10 columns):
id             49999 non-null int64
title          49998 non-null object
publication    49999 non-null object
author         41401 non-null object
date           47373 non-null object
year           47373 non-null float64
month          47373 non-null float64
url            42988 non-null object
content        49999 non-null object
fakeness       49999 non-null int64
dtypes: float64(2), int64(2), object(6)
memory usage: 3.8+ MB

In [20]:
clean3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42571 entries, 0 to 42570
Data columns (total 10 columns):
id             42571 non-null int64
title          42570 non-null object
publication    42571 non-null object
author         41599 non-null object
date           42556 non-null object
year           42556 non-null float64
month          42556 non-null float64
url            42571 non-null object
content        42571 non-null object
fakeness       42571 non-null int64
dtypes: float64(2), int64(2), object(6)
memory usage: 3.2+ MB